# Files and directories created by pub
.dart_tool/
.packages

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

# Application-related
examples/flutter_app_icons/android/
examples/flutter_app_icons/ios/
examples/flutter_app_icons/web/
examples/multi_conf/out/
examples/multi_icon/png/
examples/ms_office/*.dir/
examples/ms_office/out/
examples/ms_office/unz/
examples/site_env/ReleaseFiles/
examples/web_config/out/
out/
scripts/mkicons/png/
